{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row justify-content-center" style="margin: 20px 0 0 0">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-8">
      <img class="mb-4" src="static/fuel.svg" alt="" width="100" height="100">
      <h1 class="h3 mb-3 font-weight-normal">ProjectX</h1>
      <form class="form-signin" action="" method="POST" name="login">
        {{form.hidden_tag()}}
        {{form.email(class="form-control", placeholder="E-mail")}}
        {{form.password(class="form-control", placeholder="Пароль")}}
        <div class="checkbox mb-3">
          <label>Запомнить меня</label>
          {{form.remember_me}}
        </div>
        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Войти">
      </form>
    </div>
  </div>
  <div class="row justify-content-center" style="margin: 10px 0 0 0">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-8">
      <p> Ещё не зарегестрированы?
        <a href="/registration">Регистрация</a>
      </p>
      <p style="margin: 10px 0 0 0">&copy; 2019</p>
    </div>
  </div>
</div>
{% endblock %}